<!-- Aqui esta el HTML de inicio para la plantilla -->
<div>
    <h1>Felicitaciones!</h1>
    <h4>Has conseguido que tu componente se muestre!</h4>
    <hr />
    <h5>Como se ve el evento?</h5>
    <div style="margin-top:30px">
    Evento: {{datos.name}}
    </div>
    <div>
    Fecha: {{datos.date}}
    </div>
    <div>
    Hora: {{datos.time}}
    </div>
    <hr />
    <div>
      <app-event-details [address] = "direccion"[city] = "ciudad"[country] = "pais"></app-event-details>
    </div>
</div>
